In [2]:
import pandas as pd

In [3]:
cpuc = pd.read_csv('data/cpuc_claims_selected_programs_2017_2019.csv', 
                   usecols = ['ClaimID', 'PrgID', 'SiteZipCode', 'TotalFirstYearGrosskWh', 'TotalFirstYearGrossTherm'])

C:\Users\audre\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
cedars = pd.read_csv('data/claims_selected_programs_2016_2020.csv', usecols = ['Claim ID', 'Program ID', 'Budget'])
chris_data = pd.read_csv('data/specific_cedars_programs.csv', usecols = ['PrgID', 'Grouping','County','Selected'])

In [5]:
cpuc_grouping = cpuc.merge(chris_data, left_on = 'PrgID', right_on = 'PrgID', how = 'left')

In [5]:
cpuc_grouping = cpuc_grouping.drop_duplicates()

In [6]:
cpuc_grouping['ClaimID'].value_counts()

PGE-2017-Q4-100155                   1
PGE-2018-Q3-67748                    1
SCE-2017-Q2-0080123                  1
SCE-2017-Q2-0081503                  1
SDGE-2019-3245-10949108-11673459S    1
                                    ..
SDGE-2019-3226-10997083-12389449     1
PGE-2017-Q3-40274                    1
SDGE-2019-3224-11022441-12694798     1
PGE-2019-Q1-24179                    1
PGE-2018-Q2-78145                    1
Name: ClaimID, Length: 599968, dtype: int64

In [7]:
cpuc_grouping['ClaimID'].value_counts().sum()

599968

In [8]:
cpuc_grouping.memory_usage()

Index                       4799744
ClaimID                     4799744
PrgID                       4799744
SiteZipCode                 4799744
TotalFirstYearGrosskWh      4799744
TotalFirstYearGrossTherm    4799744
Grouping                    4799744
County                      4799744
Selected                    4799744
dtype: int64

In [9]:
cpuc_grouping.dtypes

ClaimID                      object
PrgID                        object
SiteZipCode                  object
TotalFirstYearGrosskWh      float64
TotalFirstYearGrossTherm    float64
Grouping                     object
County                       object
Selected                     object
dtype: object

In [10]:
cbg = cpuc_grouping.merge(cedars, left_on = 'ClaimID', right_on = 'Claim ID', how = 'left')

In [11]:
cbg.shape

(599968, 11)

In [12]:
cpuc_grouping['ClaimID'].value_counts()

PGE-2017-Q4-100155                   1
PGE-2018-Q3-67748                    1
SCE-2017-Q2-0080123                  1
SCE-2017-Q2-0081503                  1
SDGE-2019-3245-10949108-11673459S    1
                                    ..
SDGE-2019-3226-10997083-12389449     1
PGE-2017-Q3-40274                    1
SDGE-2019-3224-11022441-12694798     1
PGE-2019-Q1-24179                    1
PGE-2018-Q2-78145                    1
Name: ClaimID, Length: 599968, dtype: int64

In [13]:
cbg['Claim ID'].value_counts()

PGE-2017-Q4-100155                   1
PGE-2018-Q3-67748                    1
SCE-2017-Q2-0080123                  1
SCE-2017-Q2-0081503                  1
SDGE-2019-3245-10949108-11673459S    1
                                    ..
SDGE-2019-3226-10997083-12389449     1
PGE-2017-Q3-40274                    1
SDGE-2019-3224-11022441-12694798     1
PGE-2019-Q1-24179                    1
PGE-2018-Q2-78145                    1
Name: Claim ID, Length: 599968, dtype: int64

In [14]:
cbg.columns

Index(['ClaimID', 'PrgID', 'SiteZipCode', 'TotalFirstYearGrosskWh',
       'TotalFirstYearGrossTherm', 'Grouping', 'County', 'Selected',
       'Claim ID', 'Program ID', 'Budget'],
      dtype='object')

In [15]:
cbg.drop(columns = ['Claim ID', 'Program ID'], inplace = True)

In [16]:
cbg.columns

Index(['ClaimID', 'PrgID', 'SiteZipCode', 'TotalFirstYearGrosskWh',
       'TotalFirstYearGrossTherm', 'Grouping', 'County', 'Selected', 'Budget'],
      dtype='object')

In [17]:
cbg.shape

(599968, 9)

In [18]:
cbg['Grouping'].value_counts()

Local Government (Counties)                168740
Local Government ()                         21392
Education ()                                 3053
Local Government (Cities)                    1947
State ()                                      471
Education (Higher Education CCC)              366
Education (Higher Education UC/CSU)           202
Education (K-12)                              159
State (Correctional Facilities)                56
Education (Higher Education CSU)               13
State (Correctional Facilities)                13
Local Government                               13
Education (Higher Education UC/CSU/CCC)         3
Federal ()                                      1
Name: Grouping, dtype: int64

In [19]:
g = cbg['Grouping'].unique().tolist()

In [20]:
nan = g[0]

In [21]:
g.remove(nan)

In [22]:
print(g)

['Local Government (Counties)', 'Local Government ()', 'Education (Higher Education CCC)', 'Education ()', 'Education (Higher Education UC/CSU)', 'Education (K-12)', 'State ()', 'State (Correctional Facilities)', 'Education (Higher Education UC/CSU/CCC)', 'Local Government (Cities)', 'Federal ()', 'State (Correctional Facilities) ', 'Local Government ', 'Education (Higher Education CSU)']

In [23]:
for x in g:
    print(type(x))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [24]:

lg = []
for e in g:
    if 'Local Government' in e:
        lg.append(e)

In [25]:
lg

['Local Government (Counties)',
 'Local Government ()',
 'Local Government (Cities)',
 'Local Government ']

In [26]:
local_gov = cbg[cbg['Grouping'].isin(lg)]

In [27]:
local_gov['Grouping'].value_counts()

Local Government (Counties)    168740
Local Government ()             21392
Local Government (Cities)        1947
Local Government                   13
Name: Grouping, dtype: int64

In [28]:
local_gov['County'].value_counts().index

Index(['San Mateo', 'Kern', 'Sonoma', 'Fresno',
       'Santa Clara, Alameda, San Mateo', 'Marin', 'Monterey', 'Solano',
       'San Luis Obispo', 'San Francisco', 'Redwood', 'Mendocino', 'Orange',
       'Santa Barbara', 'Long Beach ', 'Los Angeles', 'Riverside', 'Napa',
       'Madera', 'Yolo', 'Sutter', 'Ventura', 'San Diego', 'San Joaquin ',
       'San Bernardino', 'San Joaquin', 'San Bernardino '],
      dtype='object')

In [29]:
local_gov = local_gov.replace(to_replace = ['Long Beach ', 'San Joaquin ', 'San Bernardino '], 
                              value = ['Long Beach', 'San Joaquin', 'San Bernardino'])

In [30]:
tc = local_gov.groupby('County', dropna = False).size() #total county claims

In [31]:
local_gov.columns

Index(['ClaimID', 'PrgID', 'SiteZipCode', 'TotalFirstYearGrosskWh',
       'TotalFirstYearGrossTherm', 'Grouping', 'County', 'Selected', 'Budget'],
      dtype='object')

In [32]:
prg = local_gov.groupby(['County', 'PrgID'], dropna = False).size().index.tolist() 
#need to count the number of times a county shows up 

a,b = [list(c) for c in zip(*prg)]

ccp = pd.Series(a) # made a series so can use value_counts

tp = ccp.value_counts(dropna = False) #total programs per county

print(prg[0:6])

tp.head()

[('Fresno', 'PGE211010'), ('Kern', 'PGE211011'), ('Kern', 'SCE-13-L-002K'), ('Kern', 'SCG3743'), ('Long Beach', 'SCE-13-L-002B'), ('Los Angeles', 'SCE-13-L-002F')]

NaN            21
Los Angeles     8
San Diego       6
Riverside       6
Orange          6
dtype: int64

In [33]:
#savings and budget

sb = local_gov.groupby('County', dropna = False).sum()

In [34]:
sb.head()

             TotalFirstYearGrosskWh  TotalFirstYearGrossTherm        Budget
County
Fresno                 8.896328e+06             -13114.531456  4.652242e+06
Kern                   1.704100e+07             -59690.004371  7.141819e+06
Long Beach             6.796455e+06               1307.656852  3.395065e+06
Los Angeles            7.391890e+06               7747.596513  9.229752e+06
Madera                 1.493690e+06              -3390.573124  6.960593e+05

In [35]:
tc = tc.rename('Total Claims')
tp = tp.rename('Total Programs')

In [36]:
almost = sb.join(tc)

In [37]:
cpuc_savings_budget_county = almost.join(tp)

In [38]:
cpuc_savings_budget_county

,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,Budget,Total Claims,Total Programs
County,,,,,
Fresno,8.896328e+06,-13114.531456,4.652242e+06,10192,1
Kern,1.704100e+07,-59690.004371,7.141819e+06,18958,3
Long Beach,6.796455e+06,1307.656852,3.395065e+06,1028,1
Los Angeles,7.391890e+06,7747.596513,9.229752e+06,999,8
Madera,1.493690e+06,-3390.573124,6.960593e+05,390,1
Marin,2.629423e+06,-14686.926873,2.048219e+06,5775,1
Mendocino,1.911030e+06,-11266.803177,1.473599e+06,1877,1
Monterey,2.047121e+07,-75456.915087,1.142151e+07,4250,1
Napa,1.398025e+06,-4901.597578,8.002973e+05,609,1
Orange,7.640817e+06,-285.134070,5.354753e+06,1148,6
Redwood,3.548250e+06,-28106.680243,3.307422e+06,2107,1
Riverside,2.879111e+06,-188.614192,2.613500e+06,628,6
San Bernardino,6.443658e+04,0.000000,5.327584e+05,40,5
San Diego,0.000000e+00,0.000000,2.003803e+07,78,6
San Francisco,1.346029e+07,-46447.654505,1.389863e+07,2374,1
San Joaquin,6.591311e+06,-517.055575,1.864070e+06,72,2
San Luis Obispo,4.617609e+06,-20950.930777,2.666456e+06,2933,2
San Mateo,1.700054e+07,-21242.806025,4.460994e+06,53589,1
Santa Barbara,4.393243e+06,-12835.616138,2.962766e+06,1126,3
"Santa Clara, Alameda, San Mateo",1.920241e+07,-54539.168791,1.145451e+07,6194,1
Solano,1.132172e+07,-43651.280214,5.537642e+06,3696,1
Sonoma,1.286502e+07,-43956.940800,5.779902e+06,15599,1
Sutter,8.969670e+05,-1863.611350,7.214399e+05,115,1
Ventura,1.248864e+06,36736.474878,2.365657e+06,104,4
Yolo,7.856663e+05,-1700.923800,4.507006e+05,132,1
NaN,4.913556e+07,-154351.653802,5.991823e+07,58079,21

In [39]:
cedars_compiled = pd.read_csv('data/compiled_datasets.csv')

In [40]:
cedars_compiled.head()

,County,Population,"Mean Income (dollars) (household income with earnings, with wages or salary income (imported from column DO)",Budget,First Year Gross kWh,First Year Gross Therm,First Year Net kWh,First Year Net Therm,Total Claims,Total Programs,Tax Revenue (2018),CES Score Median
0,"Alameda County, California",1656754,76626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,057,808,028",21.532906
1,"Alpine County, California",1039,78945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"20,470,009",11.343357
2,"Amador County, California",38429,51453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"77,617,058",23.257549
3,"Butte County, California",225817,62405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"423,294,813",20.033261
4,"Calaveras County, California",45514,70651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"111,775,477",15.180852

In [41]:
cedars_compiled['County'] = cedars_compiled['County'].str.replace(' County, California', '')

In [42]:
compiled = cedars_compiled.copy()

In [43]:
compiled.columns

Index(['County', 'Population',
       'Mean Income (dollars) (household income with earnings, with wages or salary income (imported from column DO)',
       'Budget', 'First Year Gross kWh', 'First Year Gross Therm',
       'First Year Net kWh', 'First Year Net Therm', 'Total Claims',
       'Total Programs', 'Tax Revenue (2018)', 'CES Score Median'],
      dtype='object')

In [44]:
compiled.drop(columns = 
              ['Budget', 'First Year Gross kWh', 'First Year Gross Therm', 'First Year Net Therm', 'First Year Net kWh', 'Total Programs', 'Total Claims'], 
              inplace = True)

In [45]:
compiled.head()

,County,Population,"Mean Income (dollars) (household income with earnings, with wages or salary income (imported from column DO)",Tax Revenue (2018),CES Score Median
0,Alameda,1656754,76626,"3,057,808,028",21.532906
1,Alpine,1039,78945,"20,470,009",11.343357
2,Amador,38429,51453,"77,617,058",23.257549
3,Butte,225817,62405,"423,294,813",20.033261
4,Calaveras,45514,70651,"111,775,477",15.180852

In [46]:
compiled = compiled.rename(columns = {'Mean Income (dollars) (household income with earnings, with wages or salary income (imported from column DO)': 'Mean Income'})

In [47]:
compiled.head()

      County  Population  Mean Income Tax Revenue (2018)  CES Score Median
0    Alameda     1656754        76626      3,057,808,028         21.532906
1     Alpine        1039        78945         20,470,009         11.343357
2     Amador       38429        51453         77,617,058         23.257549
3      Butte      225817        62405        423,294,813         20.033261
4  Calaveras       45514        70651        111,775,477         15.180852

In [48]:
compiled.dtypes

County                 object
Population              int64
Mean Income             int64
Tax Revenue (2018)     object
CES Score Median      float64
dtype: object

In [49]:
compiled['Tax Revenue (2018)'] = compiled['Tax Revenue (2018)'].str.replace(',', '')

In [50]:
compiled['Tax Revenue (2018)'] = compiled['Tax Revenue (2018)'].astype('int64')

In [51]:
compiled.dtypes

County                 object
Population              int64
Mean Income             int64
Tax Revenue (2018)      int64
CES Score Median      float64
dtype: object

In [52]:
final = compiled.merge(cpuc_savings_budget_county, left_on = 'County', right_on = 'County', how = 'left')

In [53]:
final

,County,Population,Mean Income,Tax Revenue (2018),CES Score Median,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,Budget,Total Claims,Total Programs
0,Alameda,1656754,76626,3057808028,21.532906,NaN,NaN,NaN,NaN,NaN
1,Alpine,1039,78945,20470009,11.343357,NaN,NaN,NaN,NaN,NaN
2,Amador,38429,51453,77617058,23.257549,NaN,NaN,NaN,NaN,NaN
3,Butte,225817,62405,423294813,20.033261,NaN,NaN,NaN,NaN,NaN
4,Calaveras,45514,70651,111775477,15.180852,NaN,NaN,NaN,NaN,NaN
5,Colusa,21454,51788,61167967,27.468901,NaN,NaN,NaN,NaN,NaN
6,Contra Costa,1142251,54605,3228395078,17.213198,NaN,NaN,NaN,NaN,NaN
7,Del Norte,27495,62144,79118088,16.844851,NaN,NaN,NaN,NaN,NaN
8,El Dorado,188563,58390,333516608,10.546223,NaN,NaN,NaN,NaN,NaN
9,Fresno,984521,63368,1770913000,44.355579,8.896328e+06,-13114.531456,4.652242e+06,10192.0,1.0
10,Glenn,27976,63764,84691057,23.671258,NaN,NaN,NaN,NaN,NaN
11,Humboldt,135940,62536,367766900,15.283912,NaN,NaN,NaN,NaN,NaN
12,Imperial,180701,65273,439747211,39.583822,NaN,NaN,NaN,NaN,NaN
13,Inyo,17977,55353,79628705,18.798968,NaN,NaN,NaN,NaN,NaN
14,Kern,887641,65073,1862364108,36.357724,1.704100e+07,-59690.004371,7.141819e+06,18958.0,3.0
15,Kings,150691,67561,274851463,38.953304,NaN,NaN,NaN,NaN,NaN
16,Lake,64195,64357,148872930,17.599033,NaN,NaN,NaN,NaN,NaN
17,Lassen,30818,46389,68779787,15.820526,NaN,NaN,NaN,NaN,NaN
18,Los Angeles,10081570,59106,24829342650,36.397588,7.391890e+06,7747.596513,9.229752e+06,999.0,8.0
19,Madera,155433,61593,267664692,39.178369,1.493690e+06,-3390.573124,6.960593e+05,390.0,1.0
20,Marin,259943,63988,599287488,6.800021,2.629423e+06,-14686.926873,2.048219e+06,5775.0,1.0
21,Mariposa,17420,64617,77874291,15.120246,NaN,NaN,NaN,NaN,NaN
22,Mendocino,87224,60544,245693086,16.917048,1.911030e+06,-11266.803177,1.473599e+06,1877.0,1.0
23,Merced,271382,49839,552168265,44.472142,NaN,NaN,NaN,NaN,NaN
24,Modoc,8907,57068,31249727,16.525398,NaN,NaN,NaN,NaN,NaN
25,Mono,14310,74878,64774317,13.799025,NaN,NaN,NaN,NaN,NaN
26,Monterey,433410,54906,1251119128,22.949522,2.047121e+07,-75456.915087,1.142151e+07,4250.0,1.0
27,Napa,139623,61210,410620823,14.907091,1.398025e+06,-4901.597578,8.002973e+05,609.0,1.0
28,Nevada,99244,58390,184038554,12.930972,NaN,NaN,NaN,NaN,NaN
29,Orange,3168044,59877,4584568142,21.114328,7.640817e+06,-285.134070,5.354753e+06,1148.0,6.0
30,Placer,385512,57934,706198572,8.681462,NaN,NaN,NaN,NaN,NaN
31,Plumas,18660,45546,64867700,15.060347,NaN,NaN,NaN,NaN,NaN
32,Riverside,2411439,57259,4422407003,27.802886,2.879111e+06,-188.614192,2.613500e+06,628.0,6.0
33,Sacramento,1524553,61520,3481911000,24.417372,NaN,NaN,NaN,NaN,NaN
34,San Benito,60376,69030,95824947,31.288566,NaN,NaN,NaN,NaN,NaN
35,San Bernardino,2149031,58211,4394560180,36.472437,6.443658e+04,0.000000,5.327584e+05,40.0,5.0
36,San Diego,3316073,79853,4872062011,17.113953,0.000000e+00,0.000000,2.003803e+07,78.0,6.0
37,San Francisco,874961,64631,1701785835,14.761339,1.346029e+07,-46447.654505,1.389863e+07,2374.0,1.0
38,San Joaquin,742603,63860,615588420,39.462481,6.591311e+06,-517.055575,1.864070e+06,72.0,2.0
39,San Luis Obispo,282165,64465,1975047219,11.840651,4.617609e+06,-20950.930777,2.666456e+06,2933.0,2.0
40,San Mateo,767423,69742,917615110,13.736350,1.700054e+07,-21242.806025,4.460994e+06,53589.0,1.0
41,Santa Barbara,444829,77911,5849545320,14.622326,4.393243e+06,-12835.616138,2.962766e+06,1126.0,3.0
42,Santa Clara,1927470,55980,598600452,16.756591,NaN,NaN,NaN,NaN,NaN
43,Santa Cruz,273962,48377,364618422,11.753838,NaN,NaN,NaN,NaN,NaN
44,Shasta,179212,86014,23587214,14.013094,NaN,NaN,NaN,NaN,NaN
45,Sierra,3040,61491,107583647,19.965483,NaN,NaN,NaN,NaN,NaN
46,Siskiyou,43468,53922,762135735,14.699549,NaN,NaN,NaN,NaN,NaN
47,Solano,441829,63635,1195437939,21.799219,1.132172e+07,-43651.280214,5.537642e+06,3696.0,1.0
48,Sonoma,499772,67001,1106325374,14.810244,1.286502e+07,-43956.940800,5.779902e+06,15599.0,1.0
49,Stanislaus,543194,61405,193095959,44.075406,NaN,NaN,NaN,NaN,NaN
50,Sutter,96109,67588,129771624,27.290013,8.969670e+05,-1863.611350,7.214399e+05,115.0,1.0
51,Tehama,63912,68489,61360368,26.963506,NaN,NaN,NaN,NaN,NaN
52,Trinity,12700,46949,907474356,8.569741,NaN,NaN,NaN,NaN,NaN
53,Tulare,461898,59408,153248781,38.060989,NaN,NaN,NaN,NaN,NaN
54,Tuolumne,54045,59278,1993356302,21.289009,NaN,NaN,NaN,NaN,NaN
55,Ventura,847263,59542,388966661,17.983711,1.248864e+06,36736.474878,2.365657e+06,104.0,4.0
56,Yolo,217352,55398,201513652,18.637396,7.856663e+05,-1700.923800,4.507006e+05,132.0,1.0
57,Yuba,76360,72547,3057808028,31.540488,NaN,NaN,NaN,NaN,NaN

In [54]:
final.fillna(0, inplace = True)

In [55]:
final.dtypes

County                       object
Population                    int64
Mean Income                   int64
Tax Revenue (2018)            int64
CES Score Median            float64
TotalFirstYearGrosskWh      float64
TotalFirstYearGrossTherm    float64
Budget                      float64
Total Claims                float64
Total Programs              float64
dtype: object

In [56]:
final

,County,Population,Mean Income,Tax Revenue (2018),CES Score Median,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,Budget,Total Claims,Total Programs
0,Alameda,1656754,76626,3057808028,21.532906,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
1,Alpine,1039,78945,20470009,11.343357,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
2,Amador,38429,51453,77617058,23.257549,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
3,Butte,225817,62405,423294813,20.033261,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
4,Calaveras,45514,70651,111775477,15.180852,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
5,Colusa,21454,51788,61167967,27.468901,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
6,Contra Costa,1142251,54605,3228395078,17.213198,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
7,Del Norte,27495,62144,79118088,16.844851,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
8,El Dorado,188563,58390,333516608,10.546223,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
9,Fresno,984521,63368,1770913000,44.355579,8.896328e+06,-13114.531456,4.652242e+06,10192.0,1.0
10,Glenn,27976,63764,84691057,23.671258,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
11,Humboldt,135940,62536,367766900,15.283912,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
12,Imperial,180701,65273,439747211,39.583822,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
13,Inyo,17977,55353,79628705,18.798968,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
14,Kern,887641,65073,1862364108,36.357724,1.704100e+07,-59690.004371,7.141819e+06,18958.0,3.0
15,Kings,150691,67561,274851463,38.953304,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
16,Lake,64195,64357,148872930,17.599033,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
17,Lassen,30818,46389,68779787,15.820526,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
18,Los Angeles,10081570,59106,24829342650,36.397588,7.391890e+06,7747.596513,9.229752e+06,999.0,8.0
19,Madera,155433,61593,267664692,39.178369,1.493690e+06,-3390.573124,6.960593e+05,390.0,1.0
20,Marin,259943,63988,599287488,6.800021,2.629423e+06,-14686.926873,2.048219e+06,5775.0,1.0
21,Mariposa,17420,64617,77874291,15.120246,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
22,Mendocino,87224,60544,245693086,16.917048,1.911030e+06,-11266.803177,1.473599e+06,1877.0,1.0
23,Merced,271382,49839,552168265,44.472142,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
24,Modoc,8907,57068,31249727,16.525398,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
25,Mono,14310,74878,64774317,13.799025,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
26,Monterey,433410,54906,1251119128,22.949522,2.047121e+07,-75456.915087,1.142151e+07,4250.0,1.0
27,Napa,139623,61210,410620823,14.907091,1.398025e+06,-4901.597578,8.002973e+05,609.0,1.0
28,Nevada,99244,58390,184038554,12.930972,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
29,Orange,3168044,59877,4584568142,21.114328,7.640817e+06,-285.134070,5.354753e+06,1148.0,6.0
30,Placer,385512,57934,706198572,8.681462,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
31,Plumas,18660,45546,64867700,15.060347,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
32,Riverside,2411439,57259,4422407003,27.802886,2.879111e+06,-188.614192,2.613500e+06,628.0,6.0
33,Sacramento,1524553,61520,3481911000,24.417372,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
34,San Benito,60376,69030,95824947,31.288566,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
35,San Bernardino,2149031,58211,4394560180,36.472437,6.443658e+04,0.000000,5.327584e+05,40.0,5.0
36,San Diego,3316073,79853,4872062011,17.113953,0.000000e+00,0.000000,2.003803e+07,78.0,6.0
37,San Francisco,874961,64631,1701785835,14.761339,1.346029e+07,-46447.654505,1.389863e+07,2374.0,1.0
38,San Joaquin,742603,63860,615588420,39.462481,6.591311e+06,-517.055575,1.864070e+06,72.0,2.0
39,San Luis Obispo,282165,64465,1975047219,11.840651,4.617609e+06,-20950.930777,2.666456e+06,2933.0,2.0
40,San Mateo,767423,69742,917615110,13.736350,1.700054e+07,-21242.806025,4.460994e+06,53589.0,1.0
41,Santa Barbara,444829,77911,5849545320,14.622326,4.393243e+06,-12835.616138,2.962766e+06,1126.0,3.0
42,Santa Clara,1927470,55980,598600452,16.756591,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
43,Santa Cruz,273962,48377,364618422,11.753838,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
44,Shasta,179212,86014,23587214,14.013094,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
45,Sierra,3040,61491,107583647,19.965483,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
46,Siskiyou,43468,53922,762135735,14.699549,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
47,Solano,441829,63635,1195437939,21.799219,1.132172e+07,-43651.280214,5.537642e+06,3696.0,1.0
48,Sonoma,499772,67001,1106325374,14.810244,1.286502e+07,-43956.940800,5.779902e+06,15599.0,1.0
49,Stanislaus,543194,61405,193095959,44.075406,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
50,Sutter,96109,67588,129771624,27.290013,8.969670e+05,-1863.611350,7.214399e+05,115.0,1.0
51,Tehama,63912,68489,61360368,26.963506,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
52,Trinity,12700,46949,907474356,8.569741,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
53,Tulare,461898,59408,153248781,38.060989,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
54,Tuolumne,54045,59278,1993356302,21.289009,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
55,Ventura,847263,59542,388966661,17.983711,1.248864e+06,36736.474878,2.365657e+06,104.0,4.0
56,Yolo,217352,55398,201513652,18.637396,7.856663e+05,-1700.923800,4.507006e+05,132.0,1.0
57,Yuba,76360,72547,3057808028,31.540488,0.000000e+00,0.000000,0.000000e+00,0.0,0.0

In [57]:
final.to_csv('data/cpuc_compiled.csv')

In [58]:
test = pd.read_csv('data/cpuc_compiled.csv')

In [59]:
test

,Unnamed: 0,County,Population,Mean Income,Tax Revenue (2018),CES Score Median,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,Budget,Total Claims,Total Programs
0,0,Alameda,1656754,76626,3057808028,21.532906,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
1,1,Alpine,1039,78945,20470009,11.343357,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
2,2,Amador,38429,51453,77617058,23.257549,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
3,3,Butte,225817,62405,423294813,20.033261,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
4,4,Calaveras,45514,70651,111775477,15.180852,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
5,5,Colusa,21454,51788,61167967,27.468901,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
6,6,Contra Costa,1142251,54605,3228395078,17.213198,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
7,7,Del Norte,27495,62144,79118088,16.844851,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
8,8,El Dorado,188563,58390,333516608,10.546223,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
9,9,Fresno,984521,63368,1770913000,44.355579,8.896328e+06,-13114.531456,4.652242e+06,10192.0,1.0
10,10,Glenn,27976,63764,84691057,23.671258,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
11,11,Humboldt,135940,62536,367766900,15.283912,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
12,12,Imperial,180701,65273,439747211,39.583822,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
13,13,Inyo,17977,55353,79628705,18.798968,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
14,14,Kern,887641,65073,1862364108,36.357724,1.704100e+07,-59690.004371,7.141819e+06,18958.0,3.0
15,15,Kings,150691,67561,274851463,38.953304,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
16,16,Lake,64195,64357,148872930,17.599033,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
17,17,Lassen,30818,46389,68779787,15.820526,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
18,18,Los Angeles,10081570,59106,24829342650,36.397588,7.391890e+06,7747.596513,9.229752e+06,999.0,8.0
19,19,Madera,155433,61593,267664692,39.178369,1.493690e+06,-3390.573124,6.960593e+05,390.0,1.0
20,20,Marin,259943,63988,599287488,6.800021,2.629423e+06,-14686.926873,2.048219e+06,5775.0,1.0
21,21,Mariposa,17420,64617,77874291,15.120246,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
22,22,Mendocino,87224,60544,245693086,16.917048,1.911030e+06,-11266.803177,1.473599e+06,1877.0,1.0
23,23,Merced,271382,49839,552168265,44.472142,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
24,24,Modoc,8907,57068,31249727,16.525398,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
25,25,Mono,14310,74878,64774317,13.799025,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
26,26,Monterey,433410,54906,1251119128,22.949522,2.047121e+07,-75456.915087,1.142151e+07,4250.0,1.0
27,27,Napa,139623,61210,410620823,14.907091,1.398025e+06,-4901.597578,8.002973e+05,609.0,1.0
28,28,Nevada,99244,58390,184038554,12.930972,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
29,29,Orange,3168044,59877,4584568142,21.114328,7.640817e+06,-285.134070,5.354753e+06,1148.0,6.0
30,30,Placer,385512,57934,706198572,8.681462,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
31,31,Plumas,18660,45546,64867700,15.060347,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
32,32,Riverside,2411439,57259,4422407003,27.802886,2.879111e+06,-188.614192,2.613500e+06,628.0,6.0
33,33,Sacramento,1524553,61520,3481911000,24.417372,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
34,34,San Benito,60376,69030,95824947,31.288566,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
35,35,San Bernardino,2149031,58211,4394560180,36.472437,6.443658e+04,0.000000,5.327584e+05,40.0,5.0
36,36,San Diego,3316073,79853,4872062011,17.113953,0.000000e+00,0.000000,2.003803e+07,78.0,6.0
37,37,San Francisco,874961,64631,1701785835,14.761339,1.346029e+07,-46447.654505,1.389863e+07,2374.0,1.0
38,38,San Joaquin,742603,63860,615588420,39.462481,6.591311e+06,-517.055575,1.864070e+06,72.0,2.0
39,39,San Luis Obispo,282165,64465,1975047219,11.840651,4.617609e+06,-20950.930777,2.666456e+06,2933.0,2.0
40,40,San Mateo,767423,69742,917615110,13.736350,1.700054e+07,-21242.806025,4.460994e+06,53589.0,1.0
41,41,Santa Barbara,444829,77911,5849545320,14.622326,4.393243e+06,-12835.616138,2.962766e+06,1126.0,3.0
42,42,Santa Clara,1927470,55980,598600452,16.756591,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
43,43,Santa Cruz,273962,48377,364618422,11.753838,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
44,44,Shasta,179212,86014,23587214,14.013094,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
45,45,Sierra,3040,61491,107583647,19.965483,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
46,46,Siskiyou,43468,53922,762135735,14.699549,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
47,47,Solano,441829,63635,1195437939,21.799219,1.132172e+07,-43651.280214,5.537642e+06,3696.0,1.0
48,48,Sonoma,499772,67001,1106325374,14.810244,1.286502e+07,-43956.940800,5.779902e+06,15599.0,1.0
49,49,Stanislaus,543194,61405,193095959,44.075406,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
50,50,Sutter,96109,67588,129771624,27.290013,8.969670e+05,-1863.611350,7.214399e+05,115.0,1.0
51,51,Tehama,63912,68489,61360368,26.963506,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
52,52,Trinity,12700,46949,907474356,8.569741,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
53,53,Tulare,461898,59408,153248781,38.060989,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
54,54,Tuolumne,54045,59278,1993356302,21.289009,0.000000e+00,0.000000,0.000000e+00,0.0,0.0
55,55,Ventura,847263,59542,388966661,17.983711,1.248864e+06,36736.474878,2.365657e+06,104.0,4.0
56,56,Yolo,217352,55398,201513652,18.637396,7.856663e+05,-1700.923800,4.507006e+05,132.0,1.0
57,57,Yuba,76360,72547,3057808028,31.540488,0.000000e+00,0.000000,0.000000e+00,0.0,0.0

In [60]:
compiled['County'].value_counts(dropna = False)

Plumas             1
Nevada             1
Sacramento         1
Sonoma             1
Kings              1
Inyo               1
Imperial           1
Solano             1
San Mateo          1
Merced             1
Placer             1
Glenn              1
Yolo               1
Marin              1
Sierra             1
San Benito         1
Fresno             1
Calaveras          1
San Diego          1
Modoc              1
Amador             1
El Dorado          1
Del Norte          1
Los Angeles        1
Humboldt           1
Madera             1
San Luis Obispo    1
Tulare             1
Santa Cruz         1
San Bernardino     1
Tehama             1
Riverside          1
Siskiyou           1
Alpine             1
Shasta             1
Monterey           1
Orange             1
Mariposa           1
Yuba               1
Santa Clara        1
Ventura            1
Kern               1
Alameda            1
San Joaquin        1
Contra Costa       1
Napa               1
Butte              1
San Francisco      1
Trinity            1
Mono               1
Santa Barbara      1
Sutter             1
Stanislaus         1
Tuolumne           1
Lake               1
Colusa             1
Mendocino          1
Lassen             1
Name: County, dtype: int64

In [63]:
chris_data[chris_data['Grouping'].isin(lg)]

          PrgID                     Grouping     County Selected
148  PGE2110051          Local Government ()        NaN        x
149  PGE2110052          Local Government ()        NaN        x
150   PGE211007          Local Government ()   Monterey        x
151   PGE211009  Local Government (Counties)        NaN        x
152   PGE211010  Local Government (Counties)     Fresno        x
..          ...                          ...        ...      ...
673    SDGE3275    Local Government (Cities)  San Diego        x
674    SDGE3276  Local Government (Counties)  San Diego        x
675    SDGE3277            Local Government         NaN        x
676    SDGE3278    Local Government (Cities)        NaN        x
728    SDGE4010          Local Government ()        NaN        x

[91 rows x 4 columns]

In [66]:
local_gov['County'].value_counts(dropna = True).sum()

134013

In [67]:
local_gov.head()

,ClaimID,PrgID,SiteZipCode,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,Grouping,County,Selected,Budget
1,PGE-2017-Q4-94241,PGE211009,94596,35.04,-0.832,Local Government (Counties),NaN,x,106.846221
2,PGE-2017-Q4-88304,PGE211009,94587,13.14,-0.312,Local Government (Counties),NaN,x,39.779768
4,PGE-2017-Q4-88820,PGE211009,94539,35.04,-0.832,Local Government (Counties),NaN,x,106.118823
5,PGE-2017-Q4-89199,PGE211009,94587,8.32,-0.159,Local Government (Counties),NaN,x,26.182319
6,PGE-2017-Q4-88314,PGE211009,94539,13.14,-0.312,Local Government (Counties),NaN,x,39.794559

In [68]:
local_gov.to_csv('data/cpuc_claims_local_gov.csv')