In [1]:
import pandas as pd

In [2]:
cpuc = pd.read_csv('data/cpuc_claims_selected_programs_2017_2019.csv')
cedars = pd.read_csv('data/claims_selected_programs_2016_2020.csv', 
                     usecols = ['Claim ID', 'Program ID', 'Budget', 'First Year Gross kWh', 'First Year Gross Therm'])

C:\Users\audre\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,6,11,16,18,21,22,23,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
cpuc_with_budget = cpuc.merge(cedars, left_on='ClaimID', right_on='Claim ID', how='left')

In [4]:
cpuc_with_budget.columns

Index(['ClaimID', 'PrgID', 'Sector', 'SiteCity', 'SiteZipCode', 'SiteID',
       'NAICSCode', 'BldgHVAC', 'BldgLoc', 'BldgType', 'BldgVint',
       'E3ClimateZone', 'E3GasSavProfile', 'E3GasSector',
       'E3MeaElecEndUseShape', 'E3TargetSector', 'ImplementationID',
       'InstallationDate', 'NAICSBldgType', 'NumUnits', 'OBF_Flag',
       'PrgElement', 'RateScheduleElec', 'RateScheduleGas', 'REN_Flag',
       'Residential_Flag', 'SchoolIdentifier', 'TotalFirstYearGrosskW',
       'TotalFirstYearGrosskWh', 'TotalFirstYearGrossTherm',
       'TotalGrossIncentive', 'TotalGrossMeasureCost',
       'TotalGrossMeasureCost_ER', 'TotalLifecycleGrosskW',
       'TotalLifecycleGrosskWh', 'TotalLifecycleGrossTherm', 'Upstream_Flag',
       'WaterOnly_Flag', 'PrgYear', 'Claim ID', 'Program ID',
       'First Year Gross kWh', 'First Year Gross Therm', 'Budget'],
      dtype='object')

In [5]:
cpuc_with_budget.to_csv('data/cpuc_with_budget.csv')

In [6]:
cpuc_with_budget[['TotalFirstYearGrosskWh', 'First Year Gross kWh']]

        TotalFirstYearGrosskWh  First Year Gross kWh
0                 17006.650170          17006.650165
1                    35.040000             35.040000
2                    13.140000             13.140000
3                     0.000000              0.000000
4                    35.040000             35.040000
...                        ...                   ...
746368             2533.022933           2533.023000
746369                0.000000              0.000000
746370                0.000000              0.000000
746371                0.000000              0.000000
746372                0.000000              0.000000

[746373 rows x 2 columns]

In [7]:
chris_data = pd.read_csv('data/specific_cedars_programs.csv')

In [8]:
cpuc_with_budget_and_resource = cpuc_with_budget.merge(chris_data, left_on='PrgID', right_on='PrgID', how='left')

In [9]:
cpuc_with_budget_and_resource.columns

Index(['ClaimID', 'PrgID', 'Sector_x', 'SiteCity', 'SiteZipCode', 'SiteID',
       'NAICSCode', 'BldgHVAC', 'BldgLoc', 'BldgType', 'BldgVint',
       'E3ClimateZone', 'E3GasSavProfile', 'E3GasSector',
       'E3MeaElecEndUseShape', 'E3TargetSector', 'ImplementationID',
       'InstallationDate', 'NAICSBldgType', 'NumUnits', 'OBF_Flag',
       'PrgElement', 'RateScheduleElec', 'RateScheduleGas', 'REN_Flag',
       'Residential_Flag', 'SchoolIdentifier', 'TotalFirstYearGrosskW',
       'TotalFirstYearGrosskWh', 'TotalFirstYearGrossTherm',
       'TotalGrossIncentive', 'TotalGrossMeasureCost',
       'TotalGrossMeasureCost_ER', 'TotalLifecycleGrosskW',
       'TotalLifecycleGrosskWh', 'TotalLifecycleGrossTherm', 'Upstream_Flag_x',
       'WaterOnly_Flag', 'PrgYear', 'Claim ID', 'Program ID',
       'First Year Gross kWh', 'First Year Gross Therm', 'Budget', 'PA',
       'ProgramName', 'Grouping', 'County', 'Selected', 'PrimarySector',
       'Sector_y', 'BP Sector', 'ProgramImplementer', 'ProgramCategory',
       'StatewideProgram', 'ImplementationContractor', 'ProgramManager',
       'StartYear', 'EndYear', 'Resource_Flag', 'NonResource_Flag',
       'Deemed_Flag', 'Custom_Flag', 'Upstream_Flag_y', 'Midstream_Flag',
       'Downstream_Flag', 'DirectInstall', 'Audit_Flag', 'Financing',
       'ParentProgram', 'Exclude_From_Budget', 'Exclude_From_CE'],
      dtype='object')

In [10]:
cpuc_with_budget_and_resource.to_csv('data/cpuc_with_budget_and_resource.csv')

In [11]:
df = pd.read_csv('data/selected_programs_merged_with_budget.csv')

C:\Users\audre\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,7,12,17,19,22,23,24,27,47,48,56,57) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [47]:
df.groupby('SiteZipCode').sum().columns

Index(['Unnamed: 0', 'NumUnits', 'OBF_Flag', 'REN_Flag', 'Residential_Flag',
       'TotalFirstYearGrosskW', 'TotalFirstYearGrosskWh',
       'TotalFirstYearGrossTherm', 'TotalGrossIncentive',
       'TotalGrossMeasureCost', 'TotalGrossMeasureCost_ER',
       'TotalLifecycleGrosskW', 'TotalLifecycleGrosskWh',
       'TotalLifecycleGrossTherm', 'Upstream_Flag_x', 'WaterOnly_Flag',
       'PrgYear', 'First Year Gross kWh', 'First Year Gross Therm', 'Budget',
       'StartYear', 'EndYear', 'Resource_Flag', 'NonResource_Flag',
       'Deemed_Flag', 'Custom_Flag', 'Upstream_Flag_y', 'Midstream_Flag',
       'Downstream_Flag', 'Audit_Flag', 'Exclude_From_Budget',
       'Exclude_From_CE', 'Total Claims', 'Zip Code'],
      dtype='object')

want to add column of total programs, total claims. Resource program and obf already exist, just have to change the column names to 'total...' , also column of percentage of non resource programs ? to see if they really correlate to energy savings

--------
-------
----------

## The journey to make all the zipcodes the same length
figuring out how to do this took me like 2 hours whooo

In [13]:
long_zips = df[df['SiteZipCode'].astype(str).apply(len)>5]

long_test = long_zips.copy()

long_test['SiteZipCode'] = long_test['SiteZipCode'].str.slice(stop=-5)

long_test = long_test['SiteZipCode']

In [14]:
test = df['SiteZipCode'].copy()

test=test.astype(str)

almost = test.str.replace(pat='-', repl='')

almost=almost.astype(int)

long_test=long_test.astype(int)

maybe = almost.combine(long_test, min)

In [15]:
maybe

0         94588
1         94596
2         94587
3         94574
4         94539
          ...
746368    92123
746369    92123
746370    92123
746371    92123
746372    92123
Name: SiteZipCode, Length: 746373, dtype: int64

--------
-----------------
------------------

## getting total programs

In [16]:
prg = df.groupby(['SiteZipCode', 'PrgID'], dropna = False).size().index.tolist() 
#need to count the number of times a zipcode shows up 

a,b = [list(c) for c in zip(*prg)]

ccp = pd.Series(a) # made a series so can use value_counts

tp = ccp.value_counts(dropna = False) #total programs per zipcode

print(prg[0:6])

tp.head()

[(90001, 'SCE-13-L-003C'), (90001, 'SCE-13-SW-002B'), (90001, 'SCE-13-SW-002C'), (90001, 'SCE-13-SW-002D'), (90001, 'SCE-13-SW-002F'), (90001, 'SCE-13-SW-002H')]

91770    52
90013    51
94105    39
92123    36
93230    14
dtype: int64

so now tp is a series containing the total programs per zipcode

## getting total claims and 5 digit zipcodes as columns

In [17]:
list = [1]*746373

In [18]:
df = df.join([pd.Series(list).rename('Total Claims'), maybe.rename('Zip Code')])

## zip code aggregation!

In [48]:
ag = df.groupby('Zip Code').sum()

zipag = ag.copy()

zipag = zipag[['OBF_Flag', 'TotalFirstYearGrosskWh', 'TotalFirstYearGrossTherm', 'TotalLifecycleGrosskWh', 'TotalLifecycleGrossTherm', 'Resource_Flag', 'Budget', 'Total Claims']]

zipag = zipag.join(tp.rename('Total Programs'))

In [49]:
zipag.head()

,OBF_Flag,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,TotalLifecycleGrosskWh,TotalLifecycleGrossTherm,Resource_Flag,Budget,Total Claims,Total Programs
Zip Code,,,,,,,,,
90001,2,1.108694e+06,51575.612676,8.330475e+06,364830.949495,533,758717.014295,533,6.0
90002,0,9.627215e+04,17908.390465,1.149893e+06,255924.948318,103,102094.701890,103,2.0
90003,0,4.441500e+03,125967.024766,7.328475e+04,775305.692091,324,363909.604919,324,NaN
90004,0,0.000000e+00,65461.716000,0.000000e+00,399206.162340,126,172750.916587,126,NaN
90005,0,-7.826000e+02,27491.669843,-1.565200e+04,396113.896815,33,76960.538769,33,NaN

In [50]:
zipag['OBF_Flag'].rename('OBF Claims', inplace=True)

Zip Code
90001    2
90002    0
90003    0
90004    0
90005    0
        ..
96088    0
96092    0
96130    0
96150    0
96160    0
Name: OBF Claims, Length: 1557, dtype: int64

In [51]:
zipag.rename(columns={'OBF_Flag':'OBF Claims', 'Resource_Flag':'Resource Claims'}, inplace=True)

In [52]:
zipag.head()

,OBF Claims,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,TotalLifecycleGrosskWh,TotalLifecycleGrossTherm,Resource Claims,Budget,Total Claims,Total Programs
Zip Code,,,,,,,,,
90001,2,1.108694e+06,51575.612676,8.330475e+06,364830.949495,533,758717.014295,533,6.0
90002,0,9.627215e+04,17908.390465,1.149893e+06,255924.948318,103,102094.701890,103,2.0
90003,0,4.441500e+03,125967.024766,7.328475e+04,775305.692091,324,363909.604919,324,NaN
90004,0,0.000000e+00,65461.716000,0.000000e+00,399206.162340,126,172750.916587,126,NaN
90005,0,-7.826000e+02,27491.669843,-1.565200e+04,396113.896815,33,76960.538769,33,NaN

In [53]:
zipag = zipag[['Budget', 'TotalFirstYearGrosskWh', 'TotalFirstYearGrossTherm', 'OBF Claims', 'Resource Claims', 'Total Claims', 'Total Programs']]

In [54]:
zipag.head()

,Budget,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,OBF Claims,Resource Claims,Total Claims,Total Programs
Zip Code,,,,,,,
90001,758717.014295,1.108694e+06,51575.612676,2,533,533,6.0
90002,102094.701890,9.627215e+04,17908.390465,0,103,103,2.0
90003,363909.604919,4.441500e+03,125967.024766,0,324,324,NaN
90004,172750.916587,0.000000e+00,65461.716000,0,126,126,NaN
90005,76960.538769,-7.826000e+02,27491.669843,0,33,33,NaN

## want to make columns for % of obf claims and resource claims

In [55]:
zipag['% OBF'] = (zipag['OBF Claims']/zipag['Total Claims'])*100

zipag['% Resource'] = (zipag['Resource Claims']/zipag['Total Claims'])*100

In [56]:
zipag['% Resource'].value_counts()

100.000000    1553
23.106796        1
97.267760        1
99.458972        1
87.584144        1
Name: % Resource, dtype: int64

In [57]:
zipag['% OBF'].value_counts()

0.000000      932
100.000000     18
71.428571       3
83.333333       3
33.333333       3
             ...
0.848790        1
8.866995        1
1.923077        1
14.883721       1
1.878613        1
Name: % OBF, Length: 579, dtype: int64

In [58]:
zipag.head()

,Budget,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,OBF Claims,Resource Claims,Total Claims,Total Programs,% OBF,% Resource
Zip Code,,,,,,,,,
90001,758717.014295,1.108694e+06,51575.612676,2,533,533,6.0,0.375235,100.0
90002,102094.701890,9.627215e+04,17908.390465,0,103,103,2.0,0.000000,100.0
90003,363909.604919,4.441500e+03,125967.024766,0,324,324,NaN,0.000000,100.0
90004,172750.916587,0.000000e+00,65461.716000,0,126,126,NaN,0.000000,100.0
90005,76960.538769,-7.826000e+02,27491.669843,0,33,33,NaN,0.000000,100.0

In [59]:
zipag.to_csv('data/zipag.csv')

In [60]:
zipp = pd.read_csv('data/zipag.csv')

In [61]:
zipp.head()

,Zip Code,Budget,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,OBF Claims,Resource Claims,Total Claims,Total Programs,% OBF,% Resource
0,90001,758717.014295,1.108694e+06,51575.612676,2,533,533,6.0,0.375235,100.0
1,90002,102094.701890,9.627215e+04,17908.390465,0,103,103,2.0,0.000000,100.0
2,90003,363909.604919,4.441500e+03,125967.024766,0,324,324,NaN,0.000000,100.0
3,90004,172750.916587,0.000000e+00,65461.716000,0,126,126,NaN,0.000000,100.0
4,90005,76960.538769,-7.826000e+02,27491.669843,0,33,33,NaN,0.000000,100.0

# DANGER I did the same thing I did before and aggregated every program, not just the local government ones :(

In [62]:
df['Grouping']

0                                 NaN
1         Local Government (Counties)
2         Local Government (Counties)
3                                 NaN
4         Local Government (Counties)
                     ...
746368                            NaN
746369                            NaN
746370                            NaN
746371                            NaN
746372                            NaN
Name: Grouping, Length: 746373, dtype: object

In [63]:
lg = ['Local Government (Counties)',
 'Local Government ()',
 'Local Government (Cities)',
 'Local Government ']

localgov = df[df['Grouping'].isin(lg)]

In [64]:
zip_ag = localgov.groupby('Zip Code').sum()

In [65]:
zip_ag.rename(columns={'OBF_Flag':'OBF Claims', 'Resource_Flag':'Resource Claims'}, inplace=True)
zip_ag = zip_ag.join(tp.rename('Total Programs'))

In [66]:
zip_ag = zip_ag[['Budget', 'TotalFirstYearGrosskWh', 'TotalFirstYearGrossTherm', 'TotalLifecycleGrosskWh', 'TotalLifecycleGrossTherm', 'OBF Claims', 'Resource Claims', 'Total Claims', 'Total Programs']]

In [67]:
zip_ag.head()

,Budget,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,TotalLifecycleGrosskWh,TotalLifecycleGrossTherm,OBF Claims,Resource Claims,Total Claims,Total Programs
Zip Code,,,,,,,,,
90001,2.282351e+05,623630.56000,0.000000,3.798695e+06,0.000000,0,73,73,6.0
90002,5.375152e+04,76629.00000,0.000000,9.195480e+05,0.000000,0,30,30,2.0
90008,1.067563e+05,168587.90000,0.000000,2.023055e+06,0.000000,0,76,76,1.0
90013,6.489026e+06,0.00000,0.000000,0.000000e+00,0.000000,0,0,292,NaN
90046,9.468288e+04,38170.31148,-56.757594,1.908516e+05,-283.787968,0,14,14,5.0

In [68]:
zip_ag['% OBF'] = (zip_ag['OBF Claims']/zip_ag['Total Claims'])*100

zip_ag['% Resource'] = (zip_ag['Resource Claims']/zip_ag['Total Claims'])*100

In [69]:
zip_ag.head()

,Budget,TotalFirstYearGrosskWh,TotalFirstYearGrossTherm,TotalLifecycleGrosskWh,TotalLifecycleGrossTherm,OBF Claims,Resource Claims,Total Claims,Total Programs,% OBF,% Resource
Zip Code,,,,,,,,,,,
90001,2.282351e+05,623630.56000,0.000000,3.798695e+06,0.000000,0,73,73,6.0,0.0,100.0
90002,5.375152e+04,76629.00000,0.000000,9.195480e+05,0.000000,0,30,30,2.0,0.0,100.0
90008,1.067563e+05,168587.90000,0.000000,2.023055e+06,0.000000,0,76,76,1.0,0.0,100.0
90013,6.489026e+06,0.00000,0.000000,0.000000e+00,0.000000,0,0,292,NaN,0.0,0.0
90046,9.468288e+04,38170.31148,-56.757594,1.908516e+05,-283.787968,0,14,14,5.0,0.0,100.0

In [70]:
zip_ag.to_csv('data/zip_agg_local_gov.csv')

In [71]:
localgov['SiteCity'].value_counts(dropna=False)

BAKERSFIELD    18568
FREMONT        14281
SANTA ROSA     10485
STOCKTON        8362
CLOVIS          7736
               ...
GREENWOOD          1
MURPHYS            1
FERNBRIDGE         1
VERNALIS           1
SANTA NELLA        1
Name: SiteCity, Length: 578, dtype: int64